/* -global variables start- */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

#nav-btn {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
  color: rgba(0,0,0,.5);
}


#dropdown-item {
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  border-color: transparent;
  color: rgba(0,0,0,.5);
}

#dropdown-item:hover {
  color: #16181b;
  background-color: #f8f9fa;
}

#donate-btn {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: transparent;
  border-color: #39B54A;
  color: #39B54A;
}

#dropdownMenuButton {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
  color: rgba(0,0,0,.5);
  
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #222;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

@media (min-width: 858px) {
  html {
      font-size: 16px;
  }
}

@media (min-width: 780px) {
  html {
      font-size: 15px;
  }
}

@media (min-width: 702px) {
  html {
      font-size: 14px;
  }
}

@media (min-width: 724px) {
  html {
      font-size: 13px;
  }
}

@media (max-width: 623px) {
  html {
      font-size: 12px;
  }
}


/* footer */
.footer-text {
  color: white;
}

.greybg {
  background-color: #FAFAFA;
}

.footer-col {
  padding: 2rem 0;
}

.footer {
  background-color: #83CFE0;
  padding-left: 3rem;
}

.footer-text {
  color: #FFF;
}

.footer-link a:hover {
  text-decoration: none;
  color: #A9A9A9;
}

.social a {
  padding: 0.5rem 0.5rem;
}

.fa-facebook:hover, .fa-twitter:hover,
.fa-linkedin:hover, .fa-instagram:hover .fa-github:hover{
  color: #A9A9A9;
}

.copyright {
  margin: 0;
  padding-bottom: 1em;
}

#footer-row {
  position: relative;
  padding: 20px;
}

.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end footer */

h3 {
  font-size: 16px;
}
h2, .blue{
  color: #3ebeda;
}

h2, .green{
  color:#6fc460;
}

h1, .white{
  color:#FFF;
  font-size: 55px;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  line-height: 30px;
  font-weight:lighter;
}

li{
  list-style-type: circle;
}

nav li{
  list-style-type: none;
}

#freshmen_front {
  font-size:35px;
}

#freshmen_link {
  font-size:35px;
}

.navbar {
  padding: 0.1rem;
  background-color: #FFF;
  transition: all ease .5s;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
  text-align: center;
}

.navbar.changenav {
  opacity: 0.7;
  transition: all ease .5s;
}



[class*="col-"] {
  padding: 1rem;
}


/* media queries */
@media (max-width: 992px){
  h1, .white{
    font-size: 55px;
  }

}

@media (max-width: 832px) {
  .footer {
    padding-left: 2rem;
  }

}

@media (max-width: 813px) {
  .social a {
    font-size: 1.2em !important;
  }

}

@media (max-width: 768px){
  h1, .white{
    font-size: 30px;
  }

  .mission img{
    padding: 0rem 1rem;
  }

  #info{
    padding: 1rem 2rem;
    text-align: center;
  }

}

@media (max-width: 576px){
  h1, .white{
    font-size: 20px;
  }

  .navbar-brand img {
    height: 50px;
  }

  .mission img{
    padding: 0rem 1rem;
  }

  #info{
    padding: 1rem 2rem;
    text-align: center;
  }

}

a:link, a:visited{
  color:white;
  text-align: center;
  /* font-size: 35px; */
}

/* -global variables end- */


/* Accordion Styling */

/***----------------------------------------ACCORDION----------------------------------------***/
/*Source: http://www.cssscript.com/demo/pure-css-responsive-horizontal-accordion/ */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

.team_accordion {

}

.accordion {
  width: 100%;
  max-width: 1080px;
  height: 350px;
  overflow: hidden;
  margin: 50px auto;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 350px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.accordion ul li div a h2 {
  font-family: Lato, sans-serif;
  text-overflow: clip;
  font-size: 30px;
  margin-bottom: 2px;
  top: 150px;
  color: white;
}

.accordion ul li div a p {
  top: 160px;
  font-size: 16px;
}

.accordion ul li:nth-child(1) { background-image: url("../images/gg_banner.jpg"); }

.accordion ul li:nth-child(2) { background-image: url("../images/L&R_banner.png"); }

.accordion ul li:nth-child(3) { background-image: url("../images/apps&algorithms.jpg"); }

.accordion ul li:nth-child(4) { background-image: url("../images/fabrication_banner4.jpg"); }

.accordion ul:hover li { width: 8%; }

.accordion ul:hover li:hover { width: 60%; }

.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }

.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
 @media screen and (max-width: 600px) {

body { margin: 0; }

.accordion { height: auto; }

.accordion ul li,
.accordion ul li:hover,
.accordion ul:hover li,
.accordion ul:hover li:hover {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transition: none;
  transition: none;
}
}

 /* End accordion styling */

 a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}