
.landing-page {
    background-image: url("../images/index_banner.jpg");
    background-repeat: no-repeat;
    /* background-attachment: center; */
    background-position: center;
    display: table;
    height: 75%;
    position: relative;
    width: 100%;
    background-size: cover;
  }
  
  .landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-shadow: 3px 3px 15px #000;
  }
  
  .facts {
    padding: 5rem 5rem 4rem 5rem;
  }
  
  .facts img {
    padding-bottom: 2rem;
    width:500px;
  }
  
  .home_highlight_fact{
    font-size: 18px;
    color:#3ebeda;
    line-height: 3rem;
  }
  
  .message {
    padding: 5rem 5rem;
  }
  
  .mission {
    padding: 2rem 0 4rem 0;
  }
  
  #info{
    padding: 1rem 2rem 1rem 4rem;
    line-height:30px;
  }
  
  .mission img{
    padding: 2rem 1rem 2rem 0rem;
    width: 500px;
    display: block;
    margin: auto;
  }
  
  .video {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  
  .videotitle {
    margin-bottom: 25px;
  }
  
  .videowrapper {
    margin: auto;
  }

  